body
  font: 16px/19px 'Ubuntu', Arial, Helvetica, sans-serif
  line-height: 1.8
  color: #434242
  font-weight: 300
  margin-bottom: 80px

  section#body
    max-width: 980px
    margin: 0 auto

h1, h2, h3
  font-weight: 100
  font-size: 32px
  text-align: center
  padding: 32px 0

h4
  font-size: 22px
  padding: 6px 0

strong
  font-weight: bold

p
  margin-top: 10px
  text-align: left
  font-size: 18px
  font-weight: 100
  color: #434242

.btn
  border-radius: 6px
  border: 1px solid orange
  color: #434242
  cursor: pointer
  display: inline-block
  font-size: 20px
  margin: 10px
  padding: 10px
  text-align: center
  text-decoration: none
  text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px
  touch-action: manipulation
  vertical-align: middle

.btn:hover
  color: orange

.actions
  margin-top: 40px
  margin-bottom: 40px
  a
    margin: 5px

.flash-notice
  background-color: red
  color: white
  text-align: center

.flash-notice
  background-color: green
  color: white
  text-align: center

.field_with_errors
  input, select
    border: 2px solid red

.link.blank
  color: rgb(85, 26, 139)
  cursor: auto
  display: inline
  font-size: 16px
  font-stretch: normal
  font-style: normal
  font-variant: normal
  font-weight: 300
  height: auto
  line-height: 28.7999992370605px
  margin: 5px
  padding: 0px
  text-decoration: underline
  vertical-align: baseline
